<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome!</h1>
  <p>This website is running on Node.js server</p>

  <div class="welcome">
    <p>You are <%= id %>th user!</p>
  </div>
  <!-- <img src="images/son.png" alt="heung-min son"> -->
  
  <script src="main.js"></script>
</body>
</html>